    .wwx img {
        width: 600px;
        float: left;
        animation: 8s soldee infinite;
    }
    
    .wwx {
        margin: 50px 0 0 350px;
        width: 600px;
        height: 337.5px;
        overflow: hidden;
        box-shadow: 3px 3px 30px #888888;
    }
    
    body {
        background-color: black;
    }
    
    .dream {
        width: 9999px;
        height: 9999px;
    }
    
    .one {
        font-family: STLiTi;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 4em;
        color: white;
        text-shadow: 3px 3px 30px #888888;
        text-align: center;
    }
    
    .two {
        font-family: STLiTi;
        width: 15px;
        margin: 0 auto;
        color: white;
        float: left;
        margin-left: 100px;
        margin-top: 30px;
        font-size: 4em;
        text-shadow: 3px 3px 30px #888888;
    }
    
    .three {
        font-family: STLiTi;
        width: 15px;
        margin: 0 auto;
        color: white;
        float: right;
        margin-right: 150px;
        margin-top: 40px;
        font-size: 4em;
        text-shadow: 3px 3px 30px #888888;
    }
    
    .four {
        font-family: STLiTi;
        font-size: 4em;
        float: left;
        color: white;
        margin-top: 50px;
        text-shadow: 3px 3px 30px #888888;
        margin-left: 450px;
    }
    
    @keyframes soldee {
        0% {}
        25% {
            transform: translateX(0px);
        }
        35% {
            transform: translateX(-600px);
        }
        50% {
            transform: translateX(-600px);
        }
        60% {
            transform: translateX(-1200px);
        }
        75% {
            transform: translateX(-1200px);
        }
        85% {
            transform: translateX(-1800px);
        }
        100% {
            transform: translateX(-1800px);
        }
    }