/*预定义css（在写html之前就把css的大概写好，然后直接套用）*/

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

i {
    font-style: normal;
    /* 利用i标签存放字体
    去掉斜体样式 */
}

input {
    /*（输入框）*/
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    /* 去掉button被点击时浏览器的选中样式
    很丑，所以要去掉 */
}

table {
    border-collapse: collapse;
    /* 设置表格的边框被合并为一个单一的边框 
    两个单元格之间只有一条线*/
}

th,
td {
    padding: 0;
}

body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    /*字体、行高（最好用1.5这种方式来表示，其他的会有麻烦）、宋体*/
    color: #3c3c3c;
    background-color: #f4f4f4;
}

.clearfix:after
/* after定向选择元素之后插入的内容 （就是在元素后面插入东西）
 子元素有浮动之后，父级元素应该清除浮动*/

{
    content: '';
    display: block;
    /*转换为块状元素*/
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.layer {
    /*layer是层的意思*/
    width: 1190px;
    margin: 0 auto;
}

.c4 {
    color: #f40;
}

.c5 {
    color: #f50;
}

.c6 {
    color: #8d7afb;
}

.c7 {
    color: #a8c001;
}

.mr7 {
    margin-right: 7px;
}

.mr5 {
    margin: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}