body {
    margin: 0;
    padding: 0;
    background-image: url(../images/img58.jpeg);
    background-size: 1200px;
}

#six {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 50px;
    background-color: #00000090;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

#six h3 {
    color: white;
}

#six .inputBox {
    margin-top: 50px;
}

#six .inputBox .inputText {
    margin-top: 20px;
}

#six .inputBox .inputText input {
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: white;
}

#six .inputBox .inputButton {
    border: 0;
    width: 150px;
    height: 25px;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}